@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	scroll-behavior: smooth;
}

body {
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
}
